@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    width: 100vw;
    height: 100vw;
    user-select: none;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    color: white;
    overflow: hidden;
    display: flex;
}

.prog-task-container {
    display: none;
    position: fixed;
    top: 25rem;
    right: 2.5rem;
    z-index: 9999;
    flex-direction: row;
    width: 22.5vw;
    height: 4.5vw;
    border-radius: 0.5vw;
    border: 0.1vw solid rgba(155,155,155,0.7);
    background-color: #1c1c27de;
    animation: fadeIn 1s ease-out;
}
.left-part-cont {
    display: flex;
    width: 5vw;
    height: 4.5vw;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5vw;
}

.right-part-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 17.5vw;
    height: 4.5vw;
}
.prog-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 17.5vw;
    height: 1.75vw;
    font-size: 1.2vw;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
}
.progbar-container {
    width: 16.5vw;
    height: 0.5vw;
    overflow: hidden;
    border-radius: 0.5vw;
    background-color: rgba(0, 0, 0, 0.401);
}

.progbar-progress {
    height: 0.5vw;
}

.task-info {
    margin-top: 0.2vw;
}

.task-color {
    color: rgb(0, 255, 170);
}

.fade-in {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
